{% extends 'base.html.twig' %}

{% block title %}Symfony Todos{% endblock %}

{% block body %}
    {% if todos %}
        <h1>Todos</h1>
        <table id="todos" class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                        <td>{{todo.title}}</td>
                        <td>{{todo.description}}</td>
                        <td>
                            <a href="/todo/{{todo.id}}" class="btn dtn-dark">View</a>
                            <a href="/todo/edit/{{todo.id}}" class="btn dtn-dark">Edit</a>
                            <a href="#" class="btn btn-danger delete-todo" data-custom_attr="delete-btn" data-id="{{todo.id}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Much todo about nothing</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="js/main.js"/>
{% endblock %}